<div class="form-group">
  <label class="col-form-label col-form-label-lg" for="inputLarge">nick:</label>
       <input [(ngModel)]="nick" (keyup)="$event.keyCode==13"
       class="form-control form-control-lg" placeholder="nick" id="inputLarge" type="text">
       <input [(ngModel)]="password" (keyup)="$event.keyCode==13"
       class="form-control form-control-lg" placeholder="password" id="inputLarge" type="text">
   <button (click)="signFunc()" type="button" class="btn btn-success">Next</button>
</div>