li{
    list-style-type: none;
    margin-bottom: 15px;
}
li ul{
    display: inline-block;
    
    
}
li ul:first-child{
  
    padding-left: 0px;
    
}
li ul:last-child{
    float:right;
    margin-right: 40px; 
}