<!--The content below is only a placeholder and can be replaced.-->
<div  class="jumbotron" style="margin-top: 0%;padding-top: 0%;padding-bottom:0%;background-color:grey;position: fixed;
top: 0;
left: 0;
right: 0;
z-index:10;">
  <div class="row" style="margin-right:0px;">
   <div class="col-xs-6">
    <h1 (click)="toMainPage()" style="font-size: 50px;margin-bottom: 15px;margin-left:50px;">ekşi sözlük</h1>

  
  </div>
    <div class="col" style="margin-top:40px;margin-bottom:40px;text-align:right;padding-right:50px">
      
     
      <li class="  listsign" style="font-family: 'Source Sans Pro',sans-serif;">
          <ul><a routerLink="register">Kayıt Ol</a> </ul>
          <ul><a routerLink="createtopic">TOpic yarat</a></ul>
          <ul><a (click)="refresh()">Yenile</a></ul>
      </li>
       
    </div>
    </div>

     
</div>
<div class="row" id="container">
    <div class="col-xs-6" id="leftbar">
        <app-topics></app-topics>
    </div>
    <div class="col-xs-6" id="inside">
        <router-outlet></router-outlet>
    </div>
</div>





